@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        <h2>@ViewBag.Costam, swiecie (z widoku)!</h2>
        <a class="btn btn-primary" asp-action="RsvpForm">wyslij rsvp</a>
    </div>
</body>
</html>